<VirtualHost *:80>

        ServerName {{ configure_ssl_domain }}
        ServerAdmin webmaster@{{ configure_ssl_domain }}

        # Logging
        CustomLog /var/log/{{ configure_ssl_domain }}.access.log combined
        ErrorLog  /var/log/{{ configure_ssl_domain }}.error.log
        LogLevel warn

        # Content immer nach SSL...
        Redirect permanent / https://{{ configure_ssl_domain }}/
</VirtualHost>

<VirtualHost *:443>
        ServerName {{ configure_ssl_domain }}
        ServerAdmin webmaster@{{ configure_ssl_domain }}

        # Logging
        CustomLog /var/log/{{ configure_ssl_domain }}.access.log combined
        ErrorLog  /var/log/{{ configure_ssl_domain }}.error.log
        LogLevel warn

        # Content
        DocumentRoot /var/www

        # SSL settings
        SSLEngine On
        SSLProtocol all -SSLv2 -SSLv3
        SSLHonorCipherOrder on
        SSLCipherSuite ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-DSS-AES128-GCM-SHA256:kEDH+AESGCM:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA:ECDHE-ECDSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-DSS-AES128-SHA256:DHE-RSA-AES256-SHA256:DHE-DSS-AES256-SHA:DHE-RSA-AES256-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:AES:CAMELLIA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!RC4:!MD5:!PSK:!aECDH:!EDH-DSS-DES-CBC3-SHA:!EDH-RSA-DES-CBC3-SHA:!KRB5-DES-CBC3-SHA

        SSLCertificateFile      /var/lib/dehydrated/certs/{{ configure_ssl_domain }}/cert.pem
        SSLCertificateKeyFile   /var/lib/dehydrated/certs/{{ configure_ssl_domain }}/privkey.pem
        SSLCertificateChainFile /var/lib/dehydrated/certs/{{ configure_ssl_domain }}/chain.pem
        SSLCACertificateFile    /var/lib/dehydrated/certs/{{ configure_ssl_domain }}/fullchain.pem


</VirtualHost>
